{% extends "PrincipalBundle::layout-base.html.twig" %}

{% block title %}Index{% endblock %}
{% block body %}
    <div class="container">    
        <h1>Hello World!<h1>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
    </div>
{% endblock %}

