{% extends "PrincipalBundle::layout-base.html.twig" %}

{% block title %}Prueba{% endblock %}
{% block body %}
    <div class="container">    
        <h1>Vista de prueba {{ nombre }}<h1>
        <div class="alert alert-warning" role="alert">
            A simple warning alert—check it out!
        </div>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
    </div>
{% endblock %}
